/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* GENERAL SECTION */

/* DOWNLOAD */

.soft_name {
  grid-area: header;
}

.soft_section {
  border: solid 2px var(--grey);
  border-radius: 5px;
  padding: 1.6rem;
  box-shadow: var(--shadow2);
  transition: var(--transition);
}

.soft_section:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

.soft_ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.soft_li {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--text-small);
}

.soft_btn:link,
.soft_btn:visited {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 12rem;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: solid 2px var(--grey);
  transition: var(--transition);
}

.soft_btn:hover,
.soft_btn:active {
  color: var(--white);
  background-color: var(--primary1);
}
/* LAST */

/* .hidden {
  display: none;
} */

/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* ABOVE 768px (Smaller tablets) */
/**************************/

@media (min-width: 48em) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  .nav_btn:link,
  .nav_btn:visited {
    /* padding: 0.6rem 1rem; */
    font-size: 1.6rem;
  }

  .nav_account_settings:hover,
  .nav_account_settings:active {
    transition: scale(1.1);
  }

  .download_dropdown a {
    font-size: 1.2rem;
  }

  .main_content {
    /* display: grid;
    grid-template-columns: auto 25rem;
    grid-template-rows: auto;
    gap: 1rem; */
    padding: 2rem 1rem;
  }

  .main_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    grid-template-areas:
      'header header'
      'new_soft old_soft';
    font-size: var(--text-regular);
  }

  main {
    font-size: 1.4rem;
  }

  aside {
    font-size: 1.6rem;
  }
}

/**************************/
/* ABOVE 1024px (Smaller desktops) */
/**************************/

@media (min-width: 64em) {
  .main_container {
    width: 1024px;
    margin: auto;
  }
}

.hidden {
  display: none;
}
